@model CMS.WebUI.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_LayoutUserManage.cshtml";

}

@{
    ViewBag.Title = "UserSuspend";
}

<h2>修改用户状态</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>用户状态</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)     

        <div class="form-group">
            @Html.Label("用户名", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @readOnly = "true", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("UserStates",string.Empty)*@
                @Html.DropDownListFor(model => model.UserState, ViewBag.UserStates as SelectList,new { @class = "control-label" })            
                @Html.ValidationMessageFor(model => model.UserState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回到用户列表", "UserList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




